ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="676c", ENV{ID_GPHOTO2}="1",
  ENV{GPHOTO2_DRIVER}="proprietary", ENV{ID_MEDIA_PLAYER}="1",
  MODE="0666", GROUP="plugdev"
